html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

a{
    color: rgb(9, 105, 218);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.header{
    display: flex;
    padding: 10px 15px;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  
.header-logo{
    max-width: 60px;
    max-height: 60px;
}
  
.form-container{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    font-size: 1.5rem;
    
}
  
.main-form{
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 33%;
    max-width: 100%;
}
  
.form-label-username{
    font-weight: 600;
    font-size: 14px;
    display: block;
    color: rgb(36, 41, 47);
    cursor: pointer;
    align-self: flex-start;
    padding-bottom: 5px;
}
  
.form-input-username{
    line-height: 20px;
    color: rgb(36, 41, 47);
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(208, 215, 222);
    border-radius: 6px;
    outline: none;
    box-shadow: rgb(208 215 222 / 20%) 0px 1px 0px inset;
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 32px;
    width: 100%;
    display: flex;
    align-self: stretch;
    padding: 10px 8px;
    font-size: 16px;
}
  
.form-submit-button{
    border-radius: 6px;
    border: 1px solid rgba(27, 31, 36, 0.15);
    font-family: inherit;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    appearance: none;
    user-select: none;
    text-decoration: none;
    text-align: center;
    padding: 9px 20px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 164, 78);
    box-shadow: rgb(27 31 36 / 10%) 0px 1px 0px;
    width: 95%;
}

.info-container{
    display: none;
}
.open{
    margin: 0 auto;
    max-width: 50em;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid rgb(208, 215, 222);;
    border-radius: 15px;
}

.username{
    display: inline-block;
    padding: 3px 7px;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: rgb(9, 105, 218);
    background-color: rgb(221, 244, 255);
    border-radius: 6px;
    text-decoration: none;
}

.infos{
    display: flex;
    margin-bottom: 0;
}
.info{
    font-weight: 500;
    margin-left: 15px;
    font-size: 1rem;
    margin-bottom: 0;
}

.features, .created-date, .updated-date{
    margin-left: 15px;
    margin-top: 0;
    font-size: 1.1em;
}
.feature{
    margin: 0;
    font-size: 1em;
}

.created{
    margin-top: 0;
}

.featuresText, .createdDateText, .updatedDateText{
    margin-bottom: 0;
}

.refresh-container{
    display: flex;
    
    width: 100%;
}

.refresh-container button{
    padding: 5px 7px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    background-color: #383838;
    
}

.refresh-container button:hover{
    padding: 5px 7px;
    transition: 0.5s;
    border: 1px solid #383838;
    border-radius: 7px;
    color: #383838;
    background-color: white;
    cursor: pointer;
}

.about{
    margin: 0 auto;
    max-width: 70em;
    padding: 0;
    margin-top: 13%;
}

.about-title{
    font-size: 2em;
    margin-bottom: 10px;
}

.about-text{
    
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 400;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

footer p{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: #696969;
    font-size: 0.9em;
}